mkdocstrings[python]==0.23.0
mkdocs-material==9.4.7
# For Material for MkDocs, Chinese search
jieba==0.42.1
# For image processing by Material for MkDocs
pillow==10.1.0
# For image processing by Material for MkDocs
cairosvg==2.7.0
termynal==0.11.1