name: Publish docs via GitHub Pages
on:
  release:
    types: [created]

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
      - name: Package
        run: |
          make build
      - name: Validate package
        run: |
          ls dist
          PACKAGE=`ls dist/jsf-*.tar.gz`
          pip3 install $PACKAGE\[cli\]
          jsf --help
      - name: Deploy docs
        run: |
          mkdocs gh-deploy --force