# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10, 3.11]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            ~/.cache/pants/setup
            ~/.cache/pants/lmdb_store
            ~/.cache/pants/named_caches
          key: ${{ runner.os }}-
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Bootstrap Pants
        run: |
          ./pants --version
      - name: Check BUILD files
        run: ./pants tailor --check update-build-files --check
      - name: Lint
        run: |
          make lint
      - name: Test
        run: |
          make test
      - name: Package
        run: |
          make build
      - name: Validate package
        run: |
          ls dist
          pip3 install dist/jsf-*.tar.gz
          jsf --help
      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./dist/coverage/python/coverage.xml
      - name: Upload pants log
        uses: actions/upload-artifact@v2
        with:
          name: pants-log
          path: .pants.d/pants.log
        if: always() # We want the log even on failures.